{% extends 'mail/base.html' %}

{% block content %}

<div class="row text-center">
    {% if user.is_staff %}
    <div class="col-2" style="margin: 10px;">
        <a href="{% url 'blog:create' %}" class="btn btn-primary float-end">
            Добавить статью
        </a>
        <br><br>
    </div>

    {% endif %}

    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow" style="background: white; border-color: black; color: black;">
                <div class="card-footer">
                    <h2> {{ object.title }}<h2/>
                    <p class="card-text">
                        Просмотры: {{ object.count }}
                    </p>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="btn-group" style="margin: 20px;">
                        <a href="{% url 'blog:blog_detail' object.pk %}"
                           class="btn btn-md btn-outline-primary">Читать</a>
                        {% if user.is_superuser %}
                        <a href="{% url 'blog:blog_edit' object.pk %}" type="button"
                           class="btn btn-md btn-outline-warning">Изменить</a>
                        <a href="{% url 'blog:blog_delete' object.pk %}" type="button"
                           class="btn btn-md btn-outline-danger">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}