{% extends 'mail/base.html'%}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ messagesfordistribution.message_theme }}</h4>
                </div>
                <div class="card-body">
                    <h5>{{ messagesfordistribution.message_body }}</h5>
                    <a class="p-2 btn btn-outline-primary" href='{% url "mail:messages_list" %}'>Назад</a>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}